@import "normalize";
@import "bootstrap.css";
@import "slabtext";
@import "league-gothic";

/* The header */

.header {
	margin-top: 1em;
	
	color: #222;
	
	display: inline-table;
	margin-left: 0px;
	table-layout: fixed;
	
	.header-row {
		display: table-row;
		
		[class*="span"] {
			display: table-cell;
			vertical-align: middle;
			float: none;
			padding-left: 20px;
			
			img {
				width: inherit;
			}
			
			&:first-of-type {
				padding-left: 0;
			}
		}
	}
}

h1 {
	margin: 0;
	line-height: 1;
	
	color: inherit;
	text-align: right;
	text-transform: uppercase;
	
	font-size: 100px;
	font-weight: normal;
	font-family: "LeagueGothicRegular", "Impact", "Arial Black", "Sans serif";
	
	a {
		color: #CCCCCC;
		&:hover {
			color: #888888;
			text-decoration: none;
		}
	}
}

/* The main page content */

article {	
	min-height: 100px;
	text-align: justify;
}

a {
	color: #CC0000;
	&:hover {
		color: #FF0000;
	}
}

/* The footer */

footer {
	padding: 1em;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size: 0.85em;
	color: #AAA;
}
