<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8">
	<meta name="author" content="Sam Clements (sam@borntyping.co.uk)">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/static/logo/favicon.ico" />
	<link rel="stylesheet" href="/static/css/default.css">
	<script src="/static/js/jquery-1.8.1.min.js"></script>
	<script src="/static/js/jquery.slabtext.min.js"></script>
	<script src="/static/js/webfont.js"></script>
	<script>
		$(function() {
			WebFont.load({
				custom: {
					families: ['LeagueGothicRegular'],
					urls : ['/static/css/league-gothic.css'],
				},
				active: function() {
					$('.slabtext-container').slabText();
				}
			});
		});
	</script>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<div class="container">
	<div class="header row">
		<div class="header-align">
		{% if page.frontpage %}
			<div class="span6">
				<h1 class="slabtext-container">
					<span class='slabtext'>Aberystwyth</span>
					<span class='slabtext'>Live Action</span>
					<span class='slabtext'>Gaming Society</span>
				</h1>
			</div>
			<div class="span6">
				<img alt="" src="/static/logo/logo.png" />
			</div>
		{% else %}
			<div class="span9">
				<h1 class="slabtext-container">
					<span class='slabtext'>
						<a href="/">{{ site.title }}</a>
					</span>
				</h1>
				<h2 class="slabtext-container adjust">{{ page.title }}</h2>
			</div>
			<div class="span3">
				<img alt="" src="/static/logo/logo.png" />
			</div>
		{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<nav>
				{% for link in site.navigation %}
					{% unless page.url == link.url %}
						<a href="{{ link.url }}">{{ link.text }}</a>
					{% endunless %}
				{% endfor %}
			</nav>
			<article>
				{{ content }}
			</article>
			<footer>
				Site by <a href="http://borntyping.co.uk">Sam Clements</a> and <a href="/README" title="README.html">others</a>, &copy; 2012. - Last updated: {{ site.time | date_to_long_string }}
			</footer>
		</div>
	</div>
</div>
</body>
</html>
